/* Milestone Project 1 CSS Stylesheet*/
/* Setup overall layout */

#row{
    background-color: aliceblue;
}
#content1 {
    font-size: x-large;
}
#content1 select {
    display: none;
  }
#content2 {
    font-size: smaller;
}
/* Titles of each page and modal*/
h1{
    padding: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    font-style:oblique;  
    background-color: goldenrod;  
}
/*writing on buttons*/
h2 {
text-align: center;
color: blue;
background-color: whitesmoke;
}
/*Layout of the Guide page*/
.column {
    float: left;
    width: 40%;
}
.centrecolumn {
    float: right;
    width: 60%;
}
/*carousel */
.container {
  padding: 2%;              
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}  
/*Footer*/
th {
    text-align: center;
}
/*Modal layout*/
.modal-body{
    align-items: center;
}
.vidsize {
    padding: auto;
}

.item {
    width: 30%;
    height: 0;
    padding-top: 30%;
    display: inline-block;
    background-size: cover;
    background-position: center;
}
  
.containerthumb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    resize: both;
    overflow: auto;
}
  
/*Gallery*/
.gallery {
   border: 1px solid #ccc;
}  
.gallery:hover {
  border: 1px solid #777;
}  
.gallery img {
   width: 100%;
   height: auto;
}  
.desc {
  padding: 15px;
  text-align: center;
}  
* {
    box-sizing: border-box;
}
  
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/*Responsive Screen setup for 3 sizes*/
@media only screen and (max-width: 960px) {
 .responsive {
      width: 20%;
    }    
}
  
@media only screen and (max-width: 800px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  .widesc {
      display: none;
    }
  .smlsc {
      font-size: smaller;
    }    
  #content1 ul {
      display: none;
    }
  #content1 select {
      display: inline-block;
      width: 100%;
    }       
  }
  
@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
    }
  .smlsc {
      display: inline;
    }
  #content1 {
      font-size: small;
    } 
  #reimg {
      display: none;
    }   
}